.bgColor{
    background-color:red;
    border: 10px solid;
}

.myForm{
    border: 1px solid;
    border-radius: 20px;
    margin: 5rem;
    margin-right: 48rem;
    margin-left:45rem ;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 4px;
    padding-top: 2rem;
    background-color:aliceblue;
}

